<ion-content fullscreen class="ion-padding">

  <!-- <ion-icon color="tertiary" name="arrow-back"></ion-icon> -->
  <ion-list class="ion-text-center">
    <ion-grid>
      <ion-list-header><ion-label>LOGO</ion-label></ion-list-header>
    </ion-grid>
  </ion-list>
<ion-list class="ion-margin ion-text-left heading-topic">
  <h1>Easy and Secure</h1>
  <ion-text>
    Set your trends on the go with this app.
  </ion-text>
</ion-list>
<ion-grid class="grid">
  <ion-list class="ion-margin ion-text-center">
  <ion-slides class="ion-margin ion-text-center" pager>
    <ion-slide>
      <div class="slide">
          <img src="../../../assets/animated/shopping1.jpg" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
          <img src="../../../assets/animated/shopping1.jpg" />
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
          <img src="../../../assets/animated/shopping1.jpg" />
      </div>
    </ion-slide>
  </ion-slides>
  </ion-list>
  <ion-list class="ion-margin ion-text-center">
    <ion-button class="button-row" expand="full" shape="round">Sign Up</ion-button>
      <p>Already a user? <a>Sign In</a><p>
  </ion-list>
</ion-grid>
</ion-content>
